{{template "header.tmpl.html"}}

<div class="container">
  <div class="alert alert-info text-center" role="alert">
      Última partida: 19/02/2020
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <td>001</td>
            </tr>
            <tr>
                <td>002</td>
            </tr>
        </table>
    </div> <!-- row -->
  </div> <!-- row -->
  <div class="alert alert-info text-center" role="alert">
      Please do work through the Getting Started guide, even if you do know how to build such an application. The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>
{{template "footer.tmpl.html"}}
