<html>
  {{template "header.tmpl.html"}}
  <body>
    {{template "nav.tmpl.html"}}
    <div class="container">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Participante</th>
            <th scope="col">Almas</th>
            <th scope="col">Pontos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Nino</td>
            <td>51</td>
            <td>523</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Ueda</td>
            <td>38</td>
            <td>351</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Edinho</td>
            <td>31</td>
            <td>326</td>
          </tr>   
          <tr>
            <th scope="row">4</th>
            <td>Sergio</td>
            <td>25</td>
            <td>295</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Mica</td>
            <td>33</td>
            <td>283</td>
          </tr>             
          <tr>
            <th scope="row">6</th>
            <td>Felipe</td>
            <td>18</td>
            <td>282</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Galego</td>
            <td>18</td>
            <td>265</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Enio</td>
            <td>20</td>
            <td>253</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Danilo</td>
            <td>17</td>
            <td>238</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Carlos</td>
            <td>30</td>
            <td>208</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Turati</td>
            <td>12</td>
            <td>182</td>
          </tr>
        </tbody>
      </table>
      <p>Atualizado em 07/12/2022</p>
    </div>
  </body>
</html>