<html>
  {{template "header.tmpl.html"}}
  <body>
    {{template "nav.tmpl.html"}}
    <div class="container">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Participante</th>
            <th scope="col">Almas</th>
            <th scope="col">Pontos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Nino</td>
            <td>50</td>
            <td>469</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Edinho</td>
            <td>31</td>
            <td>322</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Ueda</td>
            <td>35</td>
            <td>316</td>
          </tr>          
          <tr>
            <th scope="row">4</th>
            <td>Mica</td>
            <td>32</td>
            <td>277</td>
          </tr>          
          <tr>
            <th scope="row">5</th>
            <td>Felipe</td>
            <td>18</td>
            <td>277</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Sergio</td>
            <td>18</td>
            <td>252</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Enio</td>
            <td>17</td>
            <td>234</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Danilo</td>
            <td>16</td>
            <td>230</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Galego</td>
            <td>12</td>
            <td>212</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Carlos</td>
            <td>28</td>
            <td>202</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Turati</td>
            <td>11</td>
            <td>168</td>
          </tr>
        </tbody>
      </table>
      <p>Atualizado em 31/10/2022</p>
    </div>
  </body>
</html>
