<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-pawn"></span> Ranking</a>
      </li>
      <li>
        <a href="/games"><span class="glyphicon glyphicon-calendar"></span> Partidas</a>
      </li>
      <li>
        <a href="/carrascos"><span class="glyphicon glyphicon-screenshot"></span> Carrascos</a>
      </li>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/login"><span class="glyphicon glyphicon-cog"></span> Gerenciar</a>
      </li>
    </ul>
  </div>
</nav>
